<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appspot.pistatium.ssmemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".SSMemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon512"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>


        <receiver android:name="jp.maru.mrd.CvReceiver" android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="jp.maru.mrd.ACTION_CV" />
            </intent-filter>
        </receiver>
        <service android:name="jp.maru.mrd.CvReporter" android:exported="false">
        </service>

    </application>

</manifest>
